package db

import (
	"database/sql"

	_ "github.com/lib/pq"

	"{{.Module}}/internal/config"
)

type DB struct {
	*sql.DB
}

func Connect(cfg *config.Config) (*DB, error) {
	sqldb, err := sql.Open("postgres", cfg.DatabaseURL)
	if err != nil {
		return nil, err
	}
	if err := sqldb.Ping(); err != nil {
		return nil, err
	}
	return &DB{sqldb}, nil
}

func Close(d *DB) { _ = d.DB.Close() }
